{{ define "main" }}

{{ partial "page-title-course" . }}

{{ if .Site.Data.theses.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="service-page" class="pages service-page">
	<div class="container"> 
		<div class="section-heading">
			{{ with .Site.Data.theses.title }}<h2 class="subtitle text-center wow fadeInUp animated"
			data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
		</div> 
		<div class="row">
			<div class="col-lg-12">
				<div class="block">
					<div class="row service-parts">
						<div class="courses"> 
							{{ range .Site.Data.theses.description }}  
							<p style="margin-top: 10px;">{{ .para}}</p>  {{ end }}
							<ol style="margin-top: 20px;">
							{{ range .Site.Data.theses.information }}   
								<li>{{ .item }}</li>
							{{ end }}
							</ol>
						</div> 
					</div>
				</div>
			</div>
		</div> 
	</div>
</section> 
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }} 

<!--{{ partial "clients.html" . }}

{{ partial "cta.html" . }}-->

{{ end }}