{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.bachelor.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="service-page" class="pages service-page">
	<div class="container"> 
		<div class="section-heading">
			{{ with .Site.Data.bachelor.title }}<h2 class="subtitle text-center wow fadeInUp animated"
			data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
			{{ with .Site.Data.bachelor.subtitle }}<p class="wow fadeInDown" data-wow-delay=".5s">{{ . }}</p>{{ end }}
		</div> 
	</div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }} 

<!--{{ partial "clients.html" . }}

{{ partial "cta.html" . }}-->

{{ end }}